/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'SaansRegular';
  src: url('../public/fonts/SaansRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #ffffff;
  font-family: 'SaansRegular', sans-serif;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  width: 100%;
  flex: 1;
  padding-left: calc(env(safe-area-inset-left, 0rem) + 2rem);
  padding-right: calc(env(safe-area-inset-right, 0rem) + 2rem);
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  line-height: 1.4;
}

/* work styles */

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.work-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 24px;
  row-gap: 40px;
}

.work-post {
  display: list-item;
  grid-column: span 6 / span 6;
}

.work-post a {
  display: flex;
  flex-direction: column;
}

.work-post img {
  border-radius: 40px;
  width: 100%;
}

/* nav styles */

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .menu {
    display: none;
  }
}

/* footer styles */

.footer {
  min-height: 50px;
}