/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'FrancaBook';
  src: url('../public/fonts/FrancaBook.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SaansRegular';
  src: url('../public/fonts/SaansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.04rem;
}
@font-face {
  font-family: 'SaansBold';
  src: url('../public/fonts/SaansBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.04rem;
}

html {
  background-color: #ffffff;
  font-family: 'FrancaBook', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.4;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  width: 100%;
  flex: 1;
  padding-left: calc(env(safe-area-inset-left, 0rem) + 2rem);
  padding-right: calc(env(safe-area-inset-right, 0rem) + 2rem);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
  color: #02020e;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-style: solid;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: calc(env(safe-area-inset-left, 0rem) + 2rem);
  padding-right: calc(env(safe-area-inset-right, 0rem) + 2rem);
  padding-top: calc(env(safe-area-inset-right, 0rem) + 2rem);
  padding-bottom: calc(env(safe-area-inset-right, 0rem) + 4rem);
  align-items: center;
}

.header-title {
  padding-right: 16px;
}

.title h1 {
  padding: 0 0 8px 0;
  margin:0;
}

.title p {
  padding: 0;
  margin:0;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 9999px;
  filter: grayscale(100%);
}

.bold {
  font-family: 'SaansBold', sans-serif;
}

h1 {
  font-weight: normal;
  margin: 1rem 0;
  font-size: 1.3rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.4;
  padding-bottom: calc(env(safe-area-inset-right, 0rem) + 2rem);
}

/* work styles */

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.work-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(12, minmax(1fr));
  row-gap: 4rem;
}

@media screen and (min-width: 767px) {
  .work-list {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 2rem;
  }
}

.work-post {
  display: list-item;
  grid-column: span 6 / span 6;
}

.work-post .title {
  display: flex;
  justify-content: space-between;
}

.work-post .title h4 {
  padding-top: 1rem;
  margin: 0;
}

.work-post a {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  display: flex;
  justify-content: center;
  padding: 3rem 3rem 0;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.work-post img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 50px;
}



/* footer styles */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: calc(env(safe-area-inset-top, 0rem) + 6rem);
  padding-bottom: calc(env(safe-area-inset-bottom, 0rem) + 2rem);
  padding-left: calc(env(safe-area-inset-left, 0rem) + 2rem);
  padding-right: calc(env(safe-area-inset-right, 0rem) + 2rem);
}

.footer ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}