---

---

<footer class="footer">
  <ul>
    <li><a href="/cv-fiona.pdf">Résumé</a></li>
    <li><a href="https://www.linkedin.com/in/fimcd/">LinkedIn</a></li>
    <li><a href="https://www.instagram.com/feeemcdeee/">Instagram</a></li>
  </ul>
  <ul>
    <li><a href="mailto:mcdougaf@gmail.com">Email me</a></li>
  </ul>
</footer>