---

---

<header class="header">
  <div class="header-title">
    <h1>Fiona McDougall</h1>
    <p>An independent designer working with people and companies who benefit society, culture or the environment.</p>
  </div>
<img class="avatar" src="../../public/profile.jpg" width="auto" alt="profile image of Fiona" />
</header>