---

---

<header class="header">
  <div class="header-title">
    <h1>Fiona McDougall</h1>
    <p>An independent designer working with people and companies who strive to create meaningful, positive change in the world.</p>
  </div>
<img class="avatar" src="/profile.jpg" width="auto" alt="profile image of Fiona" />
</header>